.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
tsconfig.json
**/*.map
docs/**
test-workspace/**
.mocharc.yml
*.vsix
.github/**
.husky/**
commitlint.config.js
release-please-config.json
.release-please-manifest.json
